<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>diff-element Demo</title>

  <script src="../webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="diff-element.html">

</head>
<body unresolved>

  <p>An example of using <code>&lt;diff-element&gt;</code>:</p>

  <div style="width: 50%;">
    <diff-element
      first="I am the very model of a modern Major-General, I've information vegetable, animal, and mineral, I know the kings of England, and I quote the fights historical, From Marathon to Waterloo, in order categorical."
      second="I am the very model of a cartoon individual, My animation's comical, unusual, and whimsical, I know the kings of England, and I quote the fights historical, From wicked puns and stupid jokes to anvils that drop on your head.">
    </diff-element>
  </div>

</body>
</html>
